
:root {
    --colorFootnotes: #d407b4;    
    --colorGraysLightNeutral120_: #1f1f1f;    
    --colorGraysLightNeutral241_: #3d3d3d;    
    --colorGraysLightNeutral452_: #737373;    
    --colorGraysLightNeutral623_: #9e9e9e;    
    --colorGraysLightNeutral814_: #cfcfcf;    
    --colorGraysLightNeutral885_: #e0e0e0;    
    --colorGraysLightNeutral936_: #ededed;    
    --colorGraysLightNeutral957_: #f2f2f2;    
    --colorGraysLightNeutral978_: #f7f7f7;    
    --colorGraysLightNeutral989_: #fafafa;    
    --colorGraysLightNeutral10010_: #ffffff;    
    --colorGraysDarkNeutral980_: #fafafa;    
    --colorGraysDarkNeutral881_: #e0e0e0;    
    --colorGraysDarkNeutral682_: #adadad;    
    --colorGraysDarkNeutral503_: #808080;    
    --colorGraysDarkNeutral324_: #525252;    
    --colorGraysDarkNeutral245_: #3d3d3d;    
    --colorGraysDarkNeutral196_: #303030;    
    --colorGraysDarkNeutral177_: #2b2b2b;    
    --colorGraysDarkNeutral158_: #262626;    
    --colorGraysDarkNeutral129_: #1f1f1f;    
    --colorGraysDarkNeutral710_: #121212;    
    --colorAccountsBrand25: #0a3074;    
    --colorAccountsBrand45: #2573c1;    
    --colorAccountsBrand47: #2578cb;    
    --colorAccountsBrand50Base_: #3980c6;    
    --colorAccountsBrand60: #6299d0;    
    --colorAccountsBrand90: #d8e6f3;    
    --colorAccountsBrand93: #e4edf7;    
    --colorCalendarBrand18: #5b0d02;    
    --colorCalendarBrand27: #6f271b;    
    --colorCalendarBrand34: #902d1f;    
    --colorCalendarBrand42: #af3825;    
    --colorCalendarBrand45: #bb3f2a;    
    --colorCalendarBrand50Base_: #cc4832;    
    --colorCalendarBrand55: #d75642;    
    --colorCalendarBrand59: #e25f4c;    
    --colorCalendarBrand70: #e19184;    
    --colorCalendarBrand90: #f5dad6;    
    --colorCalendarBrand92: #f7e4e0;    
    --colorCheckinsBrand16: #2a232d;    
    --colorCheckinsBrand27: #4f2e5c;    
    --colorCheckinsBrand34: #653b74;    
    --colorCheckinsBrand42: #774d87;    
    --colorCheckinsBrand45: #80568f;    
    --colorCheckinsBrand48Base_: #876096;    
    --colorCheckinsBrand58: #a177af;    
    --colorCheckinsBrand55: #9773a5;    
    --colorCheckinsBrand64: #ac8fb7;    
    --colorCheckinsBrand75: #c5b1cd;    
    --colorCheckinsBrand90: #e7dfea;    
    --colorCheckinsBrand92: #ede7ef;    
    --colorGivingBrand31: #a06100;    
    --colorGivingBrand40: #cc8f00;    
    --colorGivingBrand48: #e2a413;    
    --colorGivingBrand55: #edb32c;    
    --colorGivingBrand59: #f0be3d;    
    --colorGivingBrand64Base_: #f4c551;    
    --colorGivingBrand70: #f6cf6f;    
    --colorGivingBrand75: #fcdb85;    
    --colorGivingBrand83: #fde4aa;    
    --colorGivingBrand93: #fef3db;    
    --colorGivingBrand95: #fef7e4;    
    --colorGroupsBrand31: #883518;    
    --colorGroupsBrand34: #93361a;    
    --colorGroupsBrand40: #ad3c1f;    
    --colorGroupsBrand48: #d14825;    
    --colorGroupsBrand49: #e55116;    
    --colorGroupsBrand55Base_: #f16127;    
    --colorGroupsBrand63: #fb7a46;    
    --colorGroupsBrand70: #fc9369;    
    --colorGroupsBrand80: #fdb79b;    
    --colorGroupsBrand92: #fee4d9;    
    --colorGroupsBrand94: #feeae3;    
    --colorHomeBrand25: #0a3074;    
    --colorHomeBrand45: #0b4dda;    
    --colorHomeBrand50: #0d55f2;    
    --colorHomeBrand55Base_: #2465f5;    
    --colorHomeBrand62: #467ef6;    
    --colorHomeBrand87: #c0d3fc;    
    --colorHomeBrand91: #d3e0fd;    
    --colorHomeBrand93: #dde7fd;    
    --colorPeopleBrand24: #11316a;    
    --colorPeopleBrand31: #193c85;    
    --colorPeopleBrand41: #2150b0;    
    --colorPeopleBrand51: #2c64d7;    
    --colorPeopleBrand54: #366edd;    
    --colorPeopleBrand57Base_: #4278e3;    
    --colorPeopleBrand65: #628de7;    
    --colorPeopleBrand71: #7fa2eb;    
    --colorPeopleBrand81: #adc3f0;    
    --colorPeopleBrand91: #d9e4f9;    
    --colorPeopleBrand94: #e3ebfb;    
    --colorPublishingBrand12: #1b1e22;    
    --colorPublishingBrand22: #31363e;    
    --colorPublishingBrand26: #3b404a;    
    --colorPublishingBrand31Base_: #454b57;    
    --colorPublishingBrand39: #585f6f;    
    --colorPublishingBrand50: #717a8e;    
    --colorPublishingBrand60: #8f95a3;    
    --colorPublishingBrand86: #dadbdd;    
    --colorPublishingBrand90: #e3e4e6;    
    --colorRegistrationsBrand16: #123e3a;    
    --colorRegistrationsBrand22: #1b5550;    
    --colorRegistrationsBrand28: #236c65;    
    --colorRegistrationsBrand34: #2a827a;    
    --colorRegistrationsBrand38: #378b84;    
    --colorRegistrationsBrand43Base_: #46948d;    
    --colorRegistrationsBrand60: #74bfba;    
    --colorRegistrationsBrand68: #8fccc8;    
    --colorRegistrationsBrand78: #b2dcd9;    
    --colorRegistrationsBrand89: #daeae8;    
    --colorRegistrationsBrand91: #e3efee;    
    --colorServicesBrand15: #264703;    
    --colorServicesBrand21: #375714;    
    --colorServicesBrand26: #446b19;    
    --colorServicesBrand32: #55861f;    
    --colorServicesBrand36: #5f8c2b;    
    --colorServicesBrand41Base_: #6a9639;    
    --colorServicesBrand55: #8eb85e;    
    --colorServicesBrand66: #abca87;    
    --colorServicesBrand75: #c1d8a7;    
    --colorServicesBrand88: #e1ead7;    
    --colorServicesBrand91: #e9efe1;    
    --colorInteractionInteraction45: #0b4dda;    
    --colorInteractionInteraction50: #0d55f2;    
    --colorInteractionInteraction55Base_: #2465f5;    
    --colorInteractionInteraction66Controls_: #598bf7;    
    --colorInteractionInteraction91: #d3e0fd;    
    --colorInteractionInteraction93: #dde7fd;    
    --colorCreateCreate23: #417005;    
    --colorCreateCreate25: #477a06;    
    --colorCreateCreate27Base_: #4d8406;    
    --colorCreateCreate35Controls_: #63aa08;    
    --colorCreateCreate91: #e7f4de;    
    --colorCreateCreate97: #f6fbf2;    
    --colorDeleteDelete43: #b03e2b;    
    --colorDeleteDelete45: #b8402e;    
    --colorDeleteDelete47Base_: #c24430;    
    --colorDeleteDelete93: #f8e7e4;    
    --colorDeleteDelete97: #fcf4f3;    
    --colorWarningWarning49: #e6a714;    
    --colorWarningWarning55: #edb32c;    
    --colorWarningWarning63: #f0c051;    
    --colorWarningWarning90: #fcefcf;    
    --colorWarningWarning94: #fdf5e2;    
    --colorWarningWarning97: #fefaf1;    
    --colorAlertError59: #e75146;    
    --colorAlertWarning58: #fbc02d;    
    --colorAlertSuccess41: #2aa92f;    
    --colorAlertInfo48: #059cee;    
    --colorTagStylesTagBlueBase: #e4edff;    
    --colorTagStylesTagAquaBase: #cbeafa;    
    --colorTagStylesTagTealBase: #beebde;    
    --colorTagStylesTagGreenBase: #d1efc0;    
    --colorTagStylesTagYellowBase: #f6e7bb;    
    --colorTagStylesTagOrangeBase: #fcdcca;    
    --colorTagStylesTagPinkBase: #f8ddf3;    
    --colorTagStylesTagPurpleBase: #e7defa;    
    --colorTagStylesTagRedPurpleBase: #eddcef;    
    --colorTagStylesTagBlueBase2: #9fbffe;    
    --colorTagStylesTagAquaBase2: #7ec7ed;    
    --colorTagStylesTagTealBase2: #6adcc8;    
    --colorTagStylesTagGreenBase2: #81d973;    
    --colorTagStylesTagYellowBase2: #f9d266;    
    --colorTagStylesTagOrangeBase2: #f5a57a;    
    --colorTagStylesTagPinkBase2: #f297cd;    
    --colorTagStylesTagPurpleBase2: #c69ce8;    
    --colorTagStylesTagRedPurpleBase2: #cc8cd7;    
    --colorTagStylesTagBlueText: #2d427b;    
    --colorTagStylesTagAquaText: #0d3a63;    
    --colorTagStylesTagTealText: #024a4a;    
    --colorTagStylesTagGreenText: #1e5403;    
    --colorTagStylesTagYellowText: #763900;    
    --colorTagStylesTagOrangeText: #872800;    
    --colorTagStylesTagPinkText: #7d0847;    
    --colorTagStylesTagPurpleText: #4b1787;    
}