*,
*:before,
*:after {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --base-font-family: inherit;

  --color-topaz: #42a5f5;
  --color-turquoise: #279b8f;
  --color-dark-turquoise: #1CA093;
  --color-tourmaline: var(--color-turquoise);
  --color-emerald: #68bb6a;
  --color-ruby: #ef504e;
  --color-citrine: #f5be3d;

  --color-static-gray100: hsl(0, 0%, 100%);
  --color-static-gray98: hsl(0, 0%, 98%);
  --color-static-gray97: hsl(0, 0%, 97%);
  --color-static-gray95: hsl(0, 0%, 95%);
  --color-static-gray93: hsl(0, 0%, 93%);
  --color-static-gray88: hsl(0, 0%, 88%);
  --color-static-gray81: hsl(0, 0%, 81%);
  --color-static-gray62: hsl(0, 0%, 62%);
  --color-static-gray50: hsl(0, 0%, 50%);
  --color-static-gray45: hsl(0, 0%, 45%);
  --color-static-gray32: hsl(0, 0%, 32%);
  --color-static-gray24: hsl(0, 0%, 24%);
  --color-static-gray19: hsl(0, 0%, 19%);
  --color-static-gray17: hsl(0, 0%, 17%);
  --color-static-gray15: hsl(0, 0%, 15%);
  --color-static-gray12: hsl(0, 0%, 12%);
  --color-static-gray7: hsl(0, 0%, 7%);
  --color-static-gray2: hsl(0, 0%, 2%);
  --color-static-gray0: hsl(0, 0%, 0%);

  --color-tint0: var(--color-static-gray12);
  --color-tint1: var(--color-static-gray24);
  --color-tint2: var(--color-static-gray45);
  --color-tint3: var(--color-static-gray62);
  --color-tint4: var(--color-static-gray81);
  --color-tint5: var(--color-static-gray88);
  --color-tint6: var(--color-static-gray93);
  --color-tint7: var(--color-static-gray95);
  --color-tint8: var(--color-static-gray97);
  --color-tint9: var(--color-static-gray98);
  --color-tint10: var(--color-static-gray100);

  --color-brand: var(--color-turquoise);
  --color-brand-gradient-start: var(--color-topaz);
  --color-brand-gradient-end: var(--color-emerald);
}